Repository microsoft/healthcare-shared-components, pull requests merged in 2024-04, with the labels that each got.

#932 Fixing InvalidOperationException from SchemaInitializer.
  src/Microsoft.Health.SqlServer/Features/Schema/SchemaInitializer.cs
Labels: bug

#942 Use OIDC to Get Short-Lived Tokens
  .github/actions/dotnet-publish/action.yml
  .github/workflows/packages-ci.yml
Labels: github_actions

#943 Add Missing CI Permission
  .github/workflows/packages-ci.yml
Labels: bug, github_actions

#944 Resolve Workflow Warnings
  .github/actions/dotnet-publish/action.yml
  .github/workflows/packages-ci.yml
Labels: github_actions
